/* imports selected font families from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@400;500&display=swap');

/* sets color variables to easily change colors across the stylesheet */
:root {
    --bg-color: #1B263B;
    --bg-colorDark: #0D1B2A;
    --text-color1: #E0E1DD;
    --highlight-color: #20FF36;
    --text-style1: 'Archivo Black', sans-serif;
    --text-style2: 'roboto', sans-serif;
}

* {
    color: var(--text-color1);
    letter-spacing: 1px;
}

body {
    background-color: var(--bg-color);
}

h1 {
    font-family: var(--text-style1);
    font-size: 32px;
}

h2 {
    font-family: var(--text-style2);
    font-size: 28px;
}

/* this section styles the nav bar and it's contents */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-colorDark);
    padding: 0 50px;
    height: 75px;
}

.dev {
    color: var(--highlight-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 25px;    
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    padding: 5px 10px;
    font-family: var(--text-style2);
    font-weight: 500;
}

nav ul li a:hover {
    background-color: var(--highlight-color);
    border-radius: 20px;
    color: var(--bg-colorDark);
}

/* adds and styles hero img */
.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/assets/images/code-header.jpg");
    background-size: cover;
    background-position: center;
}

.hero-text {
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 50px;
}

