/* imports selected font families from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@400;500;700&display=swap');

/* sets color variables to easily change colors across the stylesheet */
:root {
    --bg-color: #1B263B;
    --bg-colorDark: #0D1B2A;
    --text-color1: #fff;
    --button-color: #E0E1DD;
    --highlight-color: #20FF36;
    --text-style1: 'Archivo Black', sans-serif;
    --text-style2: 'roboto', sans-serif;
}

* {
    color: var(--text-color1);
    letter-spacing: 1px;
}

body {
    background-color: var(--bg-colorDark);
}

h1 {
    font-family: var(--text-style1);
    font-size: 32px;
}

h2 {
    font-family: var(--text-style2);
    font-size: 2vw;
}

h3 {
    font-family: var(--text-style1)
}

p {
    font-family: var(--text-style2);
    line-height: 1.5em;
}

/* this section styles the nav bar and it's contents */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-colorDark);
    padding: 0 50px;
    height: 75px;
}

.dev {
    color: var(--highlight-color);
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 25px;    
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    padding: 5px 10px;
    font-family: var(--text-style2);
    font-weight: 500;
}

nav ul li a:hover {
    background-color: var(--highlight-color);
    border-radius: 20px;
    color: var(--bg-colorDark);
    font-weight: 700;
}

/* adds and styles hero img */
.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("/assets/images/code-header.jpg");
    background-size: cover;
    background-position: center;
}

.hero-text {
    height: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 50px;
}

/* styles the main body of the page below the hero img */
main {
    max-width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

aside {
    border-right: 2px solid var(--highlight-color);
    padding: 0 20px 0 0;
    text-align: right;
    width: 15%;
}

.contents {
    width: 85%;
    padding: 0 20px 0 0;
}

#about-me .contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about-me .contents img {
    width: 30%;
    height: fit-content;
    margin-right: 50px;
    align-self: center;
    border-radius: 50%;
}

/* this section styles the items in work */
#work-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#work a {
    text-decoration: none;
    margin-bottom: 20px;

}

#work a:hover .work-desc,
#work a:hover .work-desc p, 
#work a:hover .work-desc i {
    background-color: var(--highlight-color);
    color: var(--bg-colorDark);
    font-weight: 700;
}

.work-desc {
    background-color: var(--button-color);
    width: fit-content;
    padding: 10px 30px 10px 20px;
    border-radius: 0 40px 40px 0;
    position: relative;
    top: 100px;
}

#boba-haven .work-desc {
    top: 300px;
}

.work-desc p {
    color: var(--bg-colorDark);
    font-weight: 700;
}

.work-desc i {
    margin-right: 10px;
    color: var(--bg-colorDark);
}

/* styles the work projects */
.my-work {
    width: 49%;
    height: 200px;
}

/* styles the main work project */
.my-work:first-child {
    width: 100%;
    height: 400px;
    
}

/* applies and styles the demos for work projects */
#boba-haven {
    background-image: linear-gradient(rgba(13, 27, 42, 0.7), rgba(13, 27, 42, 0.7)), url("/assets/images/boba-haven-demo.JPG");
    background-size: 100% auto;
}

#boba-haven:hover {
    background-image: url("/assets/images/boba-haven-demo.JPG");
}

#study-guide {
    background-image: linear-gradient(rgba(13, 27, 42, 0.7), rgba(13, 27, 42, 0.7)), url("/assets/images/prework-studyguide-demo.JPG");
    background-size: 100% auto;
}

#study-guide:hover {
    background-image: url("/assets/images/prework-studyguide-demo.JPG");
}

#horiseon {
    background-image: linear-gradient(rgba(13, 27, 42, 0.7), rgba(13, 27, 42, 0.7)), url("/assets/images/horiseon-demo.JPG");
    background-size: 100% auto;
}

#horiseon:hover {
    background-image: url("/assets/images/horiseon-demo.JPG");
}

#password-gen {
    background-image: linear-gradient(rgba(13, 27, 42, 0.7), rgba(13, 27, 42, 0.7)), url("/assets/images/placeholder-1.jpg");
    background-size: 100% auto;
}

#password-gen:hover {
    background-image: url("/assets/images/placeholder-1.jpg");
}

#m4-challenge {
    background-image: linear-gradient(rgba(13, 27, 42, 0.7), rgba(13, 27, 42, 0.7)), url("/assets/images/placeholder-2.jpg");
    background-size: 100% auto;
}

#m4-challenge:hover {
    background-image: url("/assets/images/placeholder-2.jpg");
}

/* this section styles all the clickable links & icons in contact */
.contact-information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#contact ul li {
    margin: 0 20px 0 0;
}

#contact ul li a {
    color: var(--button-color);
    font-family: var(--text-style2);
    font-weight: 500;
    text-decoration: none;
}

#contact ul li a:hover {
    cursor: pointer;
    color: var(--highlight-color);
}

#contact i {
    color: var(--button-color);
}

#contact i:hover {
    cursor: pointer;
    color: var(--highlight-color);
}

/* this section styles the resume button */
.resume-download {
    padding: 5px 10px;
    font-family: var(--text-style2);
    font-weight: 700;
    background-color: var(--button-color);
    color: var(--bg-colorDark);
    border: 0;
    border-radius: 20px;
    margin-bottom: 15px;
}

.resume-download:hover {
    cursor: pointer;
    background-color: var(--highlight-color);
}

.resume-download i {
    color: var(--bg-colorDark);
}

/* this section styles the footer */
footer {
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
}

footer p {
    margin-top: 15px;
}