/* imports selected font families from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:wght@400;500&display=swap');

/* sets color variables to easily change colors across the stylesheet */
:root {
    --bg-color: #1B263B;
    --bg-colorDark: #0D1B2A;
    --text-color1: #E0E1DD;
    --text-color2: #20FF36;
    --text-style1: 'Archivo Black', sans-serif;
    --text-style2: 'roboto', sans-serif;
}

* {
    color: var(--text-color1);
}

body {
    background-color: var(--bg-color);
}

header {

}

h1 {
    font-family: var(--text-style1);
    font-size: 32px;
}

/* this section styles the nav bar and it's contents */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-colorDark);
    padding: 0 25px;
    height: 75px;
}

nav .dev {
    color: var(--text-color2);
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 25px;    
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    padding: 5px 10px;
    font-family: var(--text-style2);
    font-weight: 500;
}

nav ul li a:hover {
    background-color: var(--text-color2);
    border-radius: 25px;
    color: var(--bg-colorDark);
}